
<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
    <img src="logo.png" />
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    <div class="mini-navbar">
      <ul>
        @if (isLoggedIn) {
            <li>
          <a routerLink="/user-profile">{{username}}'s profile</a>
        </li>
        <li>
          <a (click)="logOut()">Logout</a>
        </li>
        }@else {
             <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
        }


      </ul>
    </div>
  </div>
  @if (isLoggedIn) {
    <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/theme-list">Themes</a>
      </li>
      <li>
        <a routerLink="/new-theme">New Theme</a>
      </li>
    </ul>
  </nav>
  }

</header>
