<div class="container">
  <form class="register" #form="ngForm" (ngSubmit)="register(form)">
    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          [class]="
            usernameInput.errors?.['required'] ||
            usernameInput.errors?.['minlength']
              ? 'input-error'
              : ''
          "
          type="text"
          name="username"
          id="username"
          placeholder="Johny"
          ngModel
          #usernameInput="ngModel"
          required
          minlength="3"
        />
      </p>
      @if (usernameInput.invalid && usernameInput.touched) {
        @if (usernameInput.errors?.["required"]) {
          <p class="error">Username is required!</p>
        }
        @if (usernameInput.errors?.["minlength"]) {
          <p class="error">Username must be at least 3 characters long!</p>
        }
      }

      <!-- email -->
      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          type="email"
          [class]="
            emailInput.errors?.['required'] || emailInput.errors?.['Email']
              ? 'input-error'
              : ''
          "
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          ngModel
          #emailInput="ngModel"
          appEmail
          required
        />
      </p>
      @if (emailInput.invalid && emailInput.touched) {
        <div>
          @if (emailInput.errors?.["required"]) {
            <p class="error">Email is required!</p>
          }
          @if (emailInput.errors?.["Email"]) {
            <p class="error">Email is not valid!</p>
          }
        </div>
      }

      <!-- telephone -->
      <p class="field field-icon">
        <label for="tel"
          ><span><i class="fas fa-phone"></i></span
        ></label>
        <select name="select-tel" id="select-tel" class="tel" ngModel>
          <option value="00359">+359</option>
        </select>
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="885 888 888"
          ngModel
          #telefonInput="ngModel"
        />
      </p>
      <!-- password -->
      <div
        ngModelGroup="passwords"
        #passwordsGroup="ngModelGroup"
        appMatchPasswords
      >
        <p class="field field-icon">
          <label for="password"
            ><span><i class="fas fa-lock"></i></span
          ></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="******"
            ngModel
            [class.input-error]="passwordsGroup.invalid && passwordsGroup.touched"
          />
        </p>
       
        <!-- rePassword -->
        <p class="field field-icon">
          <label for="rePassword"
            ><span><i class="fas fa-lock"></i></span
          ></label>
          <input
            type="password"
            name="rePassword"
            id="rePassword"
            placeholder="******"
            ngModel
            [class.input-error]="passwordsGroup.invalid && passwordsGroup.touched"
          />
        </p>
        @if (passwordsGroup.invalid && passwordsGroup.touched) {
          @if (passwordsGroup.errors?.["passwordPattern"]) {
            <p class="error">
              Password must be at least 5 characters (letters and digits only)!
            </p>
          }
          @if (passwordsGroup.errors?.['passwordIsRequired']) {
            <p class="error">
                Password is required!
            </p>
          }
          @if (passwordsGroup.errors?.["passwordMismatch"]) {
            <p class="error">Repeat Password does not match password!</p>
          }
        }
      </div>

      <button [disabled]="form.invalid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
