<div class="container">
        <form class="login" #form="ngForm" (ngSubmit)="login(form)">

            <fieldset>
                <h2>Login Form</h2>

                <p class="field field-icon">
                    <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                    <input 
                    [class]="(emailInput.errors?.['required'] || emailInput.errors?.['Email'] ) ? 'input-error': '' " 
                    type="email" 
                    name="email"
                    ngModel
                    id="email" 
                    placeholder="john.doe@gmail.com" 
                    #emailInput = "ngModel"
                    required
                    appEmail
                    >
                </p>
                @if (emailInput.invalid && emailInput.touched) {
                    <div>
                    @if (emailInput.errors?.['required']) {
                        <p class="error"> 
                    Email is required!
                </p>
                    }@if (emailInput.errors?.['Email']) {
                        <p class="error">
                    Email is not valid!
                </p>
                    }
                    </div>
                }
    
            

                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input 
                    type="password" 
                    [class]="(passwortInput.errors?.['required'] || passwortInput.errors?.['minlength'] ) ? 'input-error': '' "
                    name="password" 
                    ngModel
                    id="password" 
                    placeholder="******" 
                    #passwortInput = "ngModel"
                    required
                    minlength="4"
                    >
                </p>
                <div>
                    @if (passwortInput.invalid && passwortInput.touched) {
                        @if (passwortInput.errors?.['required']) {
                            <p class="error">
                            Password is required!
                            </p>
                        }
                        @if (passwortInput.errors?.['minlength'] ) {
                            <p class="error">
                            Password must be at least 4 characters!
                        </p>
                        }
                    }
                    
                
                </div>
                

                <button>Login</button>

                <p class="text-center">
                    Have an account?
                    <a routerLink="/register">Register</a>
                </p>

            </fieldset>
        </form>
    </div>